:root {
    --color-background: #90ee90;
    --color-game-board: #f5f5f5;

    --color-text-title: #1f1f1f;

    --color-primary-won: #88ff78;
    --color-primary-lost: #fc685d;
    --color-primary-tied: #b0b0b0;

    --color-primary-player: #7abafa;
    --color-secondary-player: #badafa;
    --color-accent-player: #5dadfd;

    --color-primary-bot: #faaf7a;
    --color-secondary-bot: #fad5ba;
    --color-accent-bot: #f29859;

    --color-primary-info: #90ee90;

    --board-width: 60vw;
    --info-width: 80%;

    --title-font-size: 8vh;

    --items-direction: row;
    --item-width: 20%;
}

@media only screen and (max-width: 1600px) {
    :root {
        --title-font-size: 7vh;
    }
}

@media only screen and (max-width: 1375px) {
    :root {
        --board-width: 100vw;
        --title-font-size: 6vh;
        --items-direction: column;
        --info-width: 95%;
    }
}

@media only screen and (max-width: 900px) {
    :root {
        --title-font-size: 5vh;
        --item-width: 70%;
    }
}

body {
    background-color: var(--color-background);
    font-family: Arial;
}

.game_board {
    background-color: var(--color-game-board);
    border-radius: 25px;
    box-shadow: 5px 5px 10px grey;
    height: 80vh;
    width: var(--board-width);
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}

.game_title {
    color: var(--color-text-title);
    font-size: var(--title-font-size);
    height: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
}

.score_row {
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: center;
}

.score_row > .score_area {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /*border: 2px solid black;*/

    width: 50%;
    /*margin-right: 5%;
    margin-left: 5%;*/

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    text-align: left;
}

.score_row .player {
    background-color: var(--color-secondary-player); /*hsla(210 100% 75% / 0.5)*/
    border-bottom: 5px solid var(--color-accent-player); /*hsla(210 100% 50% / 0.5)*/
    /*margin-right: 1%;*/
}

.score_row .bot {
    background-color: var(--color-secondary-bot); /*hsla(25 100% 75% / 0.5)*/
    border-bottom: 5px solid var(--color-accent-bot); /*hsla(25 100% 50% / 0.5)*/
    /*margin-left: 1%;*/
}

.choice_row {
    height: 50%;
    width: 90%;
    display: flex;
    justify-content: center;
}

.choice_row > .choice_area {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 50%;
    display: block;
    display: flex;
    flex-direction: var(--items-direction);
    justify-content: center;
    align-items: center;
}

.choice_row .player {
    background-color: var(--color-primary-player); /*hsla(210 100% 50% / 0.5)*/
    /*margin-right: 1%;*/
}

.choice_row .bot {
    background-color: var(--color-primary-bot); /*hsla(25 100% 50% / 0.5)*/
    /*margin-left: 1%;*/
}

.choice_item {
    height: 20%;
    width: var(--item-width);
    margin: 2.5%;
    border-radius: 10px;
    font-size: 1.6vh;
}

.player .choice_item {
    border: 0px solid var(--color-accent-player); /*hsla(220 100% 50% / 0.75)*/
    background-color: var(--color-secondary-player); /*hsla(210 100% 90% / 0.5)*/
}

.player .choice_item:hover {
    background-color: var(--color-accent-player); /*hsla(210 100% 50% / 0.5)*/
}

.bot .choice_item {
border: 0px solid var(--color-accent-bot); /*hsla(15 100% 50% / 0.75)*/
background-color: var(--color-secondary-bot); /*hsla(25 100% 90% / 0.5)*/
}

/*.bot .choice_item:hover {
background-color: var(--color-accent-bot); hsla(25 100% 50% / 0.5)
}*/

.info_row {
    background-color: var(--color-primary-info);
    border-radius: 10px;
    margin-top: 2vh;
    padding: 0 1vw;
    height: 10%;

    font-size: 2.8vh;
    width: var(--info-width);
    display: flex;
    align-items: center;
    justify-content: center;
}

.won {
    background-color: var(--color-primary-won) !important;
}

.lost {
    background-color: var(--color-primary-lost) !important;
}

.tied {
    background-color: var(--color-primary-tied) !important;
}
